#root {
  max-width: 1580px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 2em;
} */

.read-the-docs {
  color: #888;
}

.card {
  border-radius: 8px;
  background: #ffffff80;
  color: #000000;
  font-weight: bold;
  border: black solid 1px;
  width: 90%;
  height: auto;
  margin: 5px;
  list-style-type: none;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;

}

.list {
  display: flex;
  flex-direction: column;
}

.card > a {
  color: #000000;
}

.card:hover {
  transform: translate(25px, 0px)
}

.header {
  background: #ffffff90;
  border-radius: 20px;
}

.navbar > a{
  display: inline-block;
  box-sizing: content-box;
  width: 150px;
  padding: 5px;
  margin: 1%;
  background: #90909090;
  text-align: center;
  font-size: 1.2rem ;
  color: whitesmoke;
  border-radius: 20px;
}

.formheader {
  background: #ffffff90;
  border-radius: 20px;
}

.list-header {
  background: #ffffff90;
  border-radius: 20px;
  width: 88%;
  margin: 5%;
}

.schoolDataContainer {
  border: solid rgba(42, 220, 42, 0.505);
}

.studentDataContainer {
  border: solid rgba(45, 42, 220, 0.505);
}

.userDataContainer {
  border: solid rgba(220, 42, 42, 0.505);

}

/* Revisit */
button.selected {
  background-color: rgba(0, 0, 0, 0.25);
  color: azure;
  border: azure solid 1px;
}